name: Build with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-15-intel, macos-15, windows-2025]
        install-zbar: [true, false]

    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK 22.0.2
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '22.0.2'
        cache: maven

    - name: Install zbar (Ubuntu)
      if: matrix.install-zbar && startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get update && sudo apt-get install -y libzbar0

    - name: Install zbar (macOS)
      if: matrix.install-zbar && startsWith(matrix.os, 'macos')
      run: brew install zbar

    - name: Install zbar (Windows)
      if: matrix.install-zbar && startsWith(matrix.os, 'windows')
      run: choco install zbar

    - name: Build with Maven
      run: mvn -B package